<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="PublishProgress.JquerySrc" value="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" />

      <setting name="PublishProgress.JquerUiSrc" value="http://code.jquery.com/ui/1.8.23/jquery-ui.min.js" />

      <setting name="PublishProgress.CustomJsSrc" value="/assets/js/progressbar.js" />

      <setting name="PublishProgress.JqueryUiBaseCssHref" value="http://code.jquery.com/ui/1.8.23/themes/base/jquery-ui.css" />

      <setting name="PublishProgress.JqueryUiThemeCssHref" value="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" />

      <setting name="PublishProgress.CustomCssHref" value="/assets/css/progressbar.css" />
    </settings>
  </sitecore>
</configuration>